
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.fw-inter-700 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;

}

.fw-poppins-600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

le {
    color: #6f77f1;
}


/* section{ */
    /* padding: 10px 10px; */
/* } */


.resized-img {
    width: 270px;
}

.research {
    background-image: url(/images/Ellipse_red_optimise_section.png);
    background-repeat: no-repeat;
}

.continuous {
    background: white;
}

.plans:hover {
    background: url('/images/bg_plan.png');
    background-size: cover;

    color: white;
    scale: 1.12;
    /* box-sizing: unset; */
  }
  
  .plans button:hover{
    background-color: yellow;
    color: black;
  }

  
  h1 {
    font-weight: bold;
    position: relative;
  }
  
  .hover1:hover  {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  .bottomhover:hover {
    border-bottom:  2px solid #6f77f1;
  }

  .zig-zag {
    top: 6rem;
    min-width: fit-content;
  }

  .womandiv {
    min-width: fit-content;
   /* left: 5rem; */
  }

 
  .blue-box {
    min-width: fit-content;
    top:1rem;
    left: 7rem;
  }

  /* .blue-box img { */
    /* width: 70%; */
  /* } */

  .creative {
    
    margin-right: auto;
    z-index: 2;
    /* top:36rem; */
  }
  
  @media screen and (min-width:280px){
    .expert {
      position: absolute;
      left: 112%;
      /* top:30%; */
      /* bottom: 0.2em; */
      color: #6f77f1;
      border: 2px solid #6f77f1;
      padding:  0.05em 0.1em;
      rotate: -10deg;
      /* font-size: 3rem; */
    }
  }

  .first-header{
    font-size: 3em;
  }

  

  .nav-link:hover{
    /* display: inline-block; */
    border-bottom: 2px solid  #6f77f1;
  }

  
.circle {
  width: 10px;
  height: 10px;
  background-color: #E9E9E9;
  border-radius: 100%;
}
.activated {
  background-color: #6F77F1;
}

.current-card {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

.slider-card:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}



/* .swiper {
  width: 100%;
  height: 100%;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

/* .swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
} */


button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.hover3:hover {
  opacity: 0.5;
}

.no-underline{
  text-decoration: none;
}

.hover-revert:hover {
 filter: invert(1);
}


.keyword-research{
  background-image: url('/images/one.png');
  background-position: right;
  background-repeat: no-repeat;
}
.content-optimisation{
  background-image: url('/images/two.png');
  background-position: right;
  background-repeat: no-repeat;
}
.target-analysis{
  background-image: url('/images/three.png');
  background-position: right;
  background-repeat: no-repeat;
}
.continuous-testing{
  background-image: url('/images/four.png');
  background-position: right;
  background-repeat: no-repeat;
}
