* {
    margin: 0;
    padding: 0;
}

le {
    color: #6f77f1;
}


/* section{ */
    /* padding: 10px 10px; */
/* } */


.resized-img {
    width: 270px;
}

.research {
    background-image: url(/images/Ellipse_red_optimise_section.png);
    background-repeat: no-repeat;
}

.continuous {
    background: white;
}

.plans:hover {
    background-color: #6f77f1;
    color: white;
    /* zoom: 105%; */
    /* box-sizing: unset; */
  }
  
  .plans button:hover{
    background-color: yellow;
    color: black;
  }

  /* @media (min-width: 0px) {
    .right {
      height: 70vh;
      background: url(/images/woman.png) no-repeat center center/70%,
        url(/images/Vector16.png) no-repeat center center/80%,
        url(/images/Rectangle79.png) no-repeat center center/70%;
    }
  
    h1 {
      font-size: 3rem !important;
    }
  } */
  
  /* @media (min-width: 800px) {
    .top_section {
      height: 80vh;
    }
  
    .right {
      height: 100%;
      background: url(/images/woman.png) no-repeat left center/70%,
        url(/images/Vector16.png) no-repeat left center/80%,
        url(/images/Rectangle79.png) no-repeat center top/45%;
    }
    h1 {
      font-size: 4rem !important;
    }
  } */
  /* .expert {
    position: absolute;
    right: 0;
    color: #6f77f1;
    border: 2px solid #6f77f1;
    padding: 0.3rem;
    rotate: -15deg;
    font-size: 3rem;
  } */
  h1 {
    font-weight: bold;
    position: relative;
  }
  
  .hover1:hover  {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .bottomhover:hover {
    border-bottom:  2px solid #6f77f1;
  }