@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

le {
    color: #6f77f1;
}


/* section{ */
    /* padding: 10px 10px; */
/* } */


.resized-img {
    width: 270px;
}

.research {
    background-image: url(/images/Ellipse_red_optimise_section.png);
    background-repeat: no-repeat;
}

.continuous {
    background: white;
}

.plans:hover {
    background-color: #6f77f1;
    color: white;
    /* zoom: 105%; */
    /* box-sizing: unset; */
  }
  
  .plans button:hover{
    background-color: yellow;
    color: black;
  }

  
  h1 {
    font-weight: bold;
    position: relative;
  }
  
  .hover1:hover  {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .bottomhover:hover {
    border-bottom:  2px solid #6f77f1;
  }

  .zig-zag {
    top: 6rem;
    min-width: fit-content;
  }

  .womandiv {
    min-width: fit-content;
   /* left: 5rem; */
  }

 
  .blue-box {
    min-width: fit-content;
    top:1rem;
    left: 7rem;
  }

  .blue-box img {
    /* width: 70%; */
  }

  .creative {
    
    margin-right: auto;
    z-index: 2;
    /* top:36rem; */
  }
  .expert {
    position: absolute;
    
    /* top:30%; */
    /* bottom: 0.2em; */
    color: #6f77f1;
    border: 2px solid #6f77f1;
    padding: 0.3rem;
    rotate: -15deg;
    font-size: 3rem;
  }

  .first-header{
    font-size: 4em;
  }